
body{
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://lichvietpro.com/images/dc/wallpaper/pokemon/6fBTX02.jpg") ;
    background-size: 100vw;
   
}

#layout{
    display: flex;
    width: 100%;
    height: calc(300vw/7);
    background-color: rgb(48, 48, 48);
    border-radius: 2%;


}

#list-searchbox{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    align-items: center;
}
#searchbox{
    width: 80%;
    display: flex;
    align-items: center;
    flex:1
}
#search{
    width: 100%;
    box-sizing: content-box;
    border: 0;
    padding: 10px 20px;
    border-radius: 10vw;
    
}
#list{
    
    display: flex;
    flex-direction: row;
    flex: 5;
    background-color: rgb(172, 164, 164);
    width: 70vw;
    height: 80%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y:scroll;
    overflow-x: hidden;
}
.card{
    margin-top: 2%;
    display: flex;
    align-items: center;
    width: 200px;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    
}
img{    
    width: 40%;                                                                     
    margin-top: -10px;
}
.details{
    display: flex;
    width: 70%;
    
}
#name{
    position:relative;
    margin: auto;
    font-size: clamp(5px,10vw,20px);
    font-family: sans-serif;
    text-transform: capitalize
    
}



#infor{
    flex-basis: 30%;
    background-color: white;
}